@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap");

:root {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 600px) {
  :root {
    font-size: 1.125rem;
  }
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: min(44rem, 90vw);
  min-height: 100vh;
  font-family: "Titillium Web", "Rooney Sans", "Droid Serif", "Calibri",
    "Source Han Sans CN", "Noto Sans CJK SC", "Noto Sans CJK CN", "Noto Sans SC",
    "SimSun", "NSimSun", sans-serif;
}

a {
  color: inherit;
  text-underline-offset: 6px;
}

em {
  font-family: "Zilla Slab", "KaiTi", "楷体", serif;
}

pre {
  overflow-x: auto;
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  margin: 2rem;
  padding: 1rem 2rem 1rem 1rem;
  border: 2px solid black;
  border-radius: 7px;
}
code {
  font-size: 0.9rem;
  font-family: "Cascadia Code", "Fira Code", "Consolas", "Courier New",
    monospace;
}

header {
  display: flex;
  justify-content: space-between;
  padding-block: 1rem;
  user-select: none;
}
header > span {
  display: flex;
  gap: 1rem;
}

footer {
  font-size: 0.8rem;
}
footer > p {
  text-align: center;
}

.main {
  flex: 1 0 0px;
}

.post-link {
  display: flex;
  align-items: baseline;
  gap: 1rem;
  text-underline-offset: 8px;
}

.categories {
  display: flex;
  gap: 1rem;
  align-items: baseline;
}

/* post single view */
.post-meta {
  text-align: center;
}
.post-meta p {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 1rem;
}

.post-content p {
  text-indent: 2rem;
}
.post-content figure {
  margin: 1rem 0;
}
.post-content figure img {
  width: 100%;
}
.post-content figure figcaption {
  text-align: center;
  color: grey;
}
.post-content .font-halt {
  font-feature-settings: "halt";
}
